<!-- Majesco -->
<!-- <ion-tabs class="tabs-icon-top tabs-color-active-calm black-footer">  
	
  <ion-tab title="Overview" icon-on="icon-home" icon-off="icon-home-off" ui-sref="app.tabs.tab0">
    <ion-nav-view name="tab-tab0"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Rewards" icon-on="icon-rewards-on" icon-off="icon-rewards-off" ui-sref="app.tabs.tab1">
    <ion-nav-view name="tab-tab1"></ion-nav-view>
  </ion-tab>
  	 
  <ion-tab title="Locate" icon-on="icon-locator-on" icon-off="icon-locator-off" ui-sref="app.tabs.tab2">
  	<ion-nav-view name="tab-tab2"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Deposit" icon-on="icon-deposit-on" icon-off="icon-deposit-off" ui-sref="app.tabs.tab3">
    <ion-nav-view name="tab-tab3"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Payments" icon-on="icon-payments-on" icon-off="icon-payments-off" ui-sref="app.tabs.tab4">
    <ion-nav-view name="tab-tab4"></ion-nav-view>
  </ion-tab>
 	 
</ion-tabs> -->