<div class="row top-label">
    <div class="col custom-radio">
        <input type="radio" value="Credit Card xxx7955" name="payment-option" id="payment-option-cc"
            class="radio-btn" ng-model='payment_method'> <label for="payment-option-cc">Credit Card - 7955</label>
    </div>
</div>
<div class="row">
    <div class="col custom-radio">
        <input type="radio" value="Bank Account xxx9087" name="payment-option" id="payment-option-ba"
            class="radio-btn" ng-model='payment_method'> <label for="payment-option-ba">Bank Account - 9087</label>
    </div>
</div>